<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.digiburo.mellow.heeler.lib" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
            android:exported="false" />

      <receiver android:name=".lib.service.ScanReceiver">
        <intent-filter>
          <action android:name="android.net.wifi.SCAN_RESULTS"/>
        </intent-filter>
      </receiver>

      <service android:name=".service.LocationService" />

      <service
            android:name=".service.UploadService"
            android:exported="false" >
        </service>
        <service
            android:name=".service.NetworkFacadeService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".service.SpeechService"
            android:exported="false" >
        </service>
    </application>

</manifest>
