<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.digiburo.mellow.heeler.lib">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
    <service android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService" android:exported="false" />
  </application>
</manifest>
