<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.digiburo.mellow.heeler" >

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
      android:allowBackup="false"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:name=".lib.HeelerApplication"
      android:theme="@style/AppTheme" >

    <activity android:name=".app.MainActivity" android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".app.MenuActivity" android:label="@string/app_name"/>

    <provider android:name=".lib.content.DataBaseProvider" android:authorities="com.digiburo.mellow.heeler.authority" />

    <receiver android:name=".lib.service.ScanReceiver">
      <intent-filter>
        <action android:name="android.net.wifi.SCAN_RESULTS"/>
      </intent-filter>
    </receiver>

    <service android:name=".lib.service.LocationService" />
  </application>
</manifest>
