#
exportDir: /var/mellow/heeler
freshDir: /var/mellow/heeler/fresh
#
#site: anderson
site: development
#site: vallejo
#
host: rpi3a
#host: rpi3c
#
skunk_enable: true
skunk_url: "http://localhost:8000/heeler/"
skunk_url: "http://localhost/heeler/"
#
#AWS_ACCESS_KEY_ID: bogus
#AWS_SECRET_ACCESS_KEY: bogus
#AWS_DEFAULT_REGION: us-west-2
#
#gzipCommand: /bin/gzip
gzipCommand: /usr/bin/gzip
#
dbUserName: seagull
dbPassWord: bogus
dbDataBase: vocal_seagull
dbHostName: localhost
#
