#
# repository of processed observations
archiveDir: /var/mellow/heeler/archive
#
# export to AWS
exportDir: /var/mellow/heeler/export
#
# repository of problem files
failureDir: /var/mellow/heeler/failure
#
# repository of freshly collected observations
freshDir: /var/mellow/heeler/fresh
#
# test artifacts
testDir: /var/mellow/heeler/test
#
# collection host location
#site: anderson1
site: development
#site: mobile1
#site: vallejo1
#
# collection host
#host: rpi3a
#host: rpi3c
host: rpi3d
#
# true, post to mellow-skunk
skunkEnable: false
#
# URL to post skunk update
skunkUrl: "http://localhost:8000/heeler/"
skunkUrl: "http://localhost/heeler/"
#
# true, post to mellow-wombat
wombatEnable: false
#
# URL to update wombat
wombatUrl: "http://localhost:8000/heeler/"
wombatUrl: "http://rpi5a/heeler/"
#
# dryRun true is parse only, not load database and not delete/move files
dryRun: true
#
# database connection
dbConn: "postgresql+psycopg2://heeler_py:bogus@localhost:5432/heeler_v1"
#
# true, echo SQL statements
sqlEchoEnable: true
#
# true, there is a GPS available
gpsEnable: false
#
