#
# repository of freshly collected observations
freshDir: /var/mellow/heeler/fresh
freshDir: /var/mellow/heeler/test
#
# repository of processed observations
archiveDir: /var/mellow/heeler/archive
#
# repository of problem files
failureDir: /var/mellow/heeler/failure
#
# collection host location
#site: anderson1
site: development
#site: mobile
#site: vallejo1
#
# collection host
#host: rpi3a
#host: rpi3c
host: rpi3d
#
# URL to post skunk update
skunkUrl: "http://localhost:8000/heeler/"
skunkUrl: "http://localhost/heeler/"
#
# URL to update wombat
wombatUrl: "http://localhost:8000/heeler/"
wombatUrl: "http://rpi5a/heeler/"
#
# dryRun true is parse only, not load database and not delete/move files
dryRun: true
#
# database connection
dbConn: "postgresql+psycopg2://heeler_py:bogus@localhost:5432/heeler_v1"
#
gpsEnable: true
#
